
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  gap: 20px;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #000000;
  background-color: #ebebeb;
}


h1 { 
  font-size: 2rem; 
  margin: 24px 0 8px; 
}

h2 { 
  font-size: 1.5rem; 
  margin: 24px 0 8px; 
}

h3 { 
  font-size: 1.2rem; 
  margin: 18px 0 8px; 
}

p { 
  margin: 0 0 16px; 
}


.centro {
  text-align: center;
}

header {  
  background-color: #cd1b1b; 
  color: #FFFFFF;
  display: flex;            
  justify-content: space-between;          
  align-items: center;
  padding: 10px 5%;
  position: relative;
}

header img {
  border-radius: 50%;
} 

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav ul {
  gap: 8rem;
  display: flex;
  list-style: none;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3;
}

nav a:hover {
  color: #000000;
}

.botao {
  background-color: #cd1b1b;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: backgroud-color 0.3s ease;
}

.botao:hover {
  background-color: #cd1b1b;
}


.container-produtos {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
  margin: 20px auto;
  max-width: 1200px;
}


.card-produto {
  display: flex;
  align-items: space-between;
  justify-content: center;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding: 12px;
  background-color: #FFFFFF;
  max-width: 500px;
  flex: 1 1 300px;
  transition: transform 0.2s ease;
}

.card-produto:hover {
  transform: scale(1.03);
}

.card-produto img {
  width: 100px;
  border-radius: 6px;
}

.info-produto {
  flex: 1;
  margin-left: 10px;
}

.info-produto h3 {
  font-size: 16px;
  color: #000000;
  margin-bottom: 5px;
}

.info-produto p {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
  margin-bottom: 5px;
}

.preco {
  font-weight: bold;
  color: #cd1b1b;
  font-size: 15px;
}


footer {  
  background-color:#cd1b1b; 
  color:#FFFFFF;            
  padding: 20px 10px;
  text-align: center;           
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem
}

.logo img {
  width: 4px 0;
  border-radius: 50%;
  margin-bottom: 8px;
}

.footer p  {
  margin: 4px 0;
  font-size: 14px;
}

.container {
  width: 100%;
  padding: 1rem;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 960px;
    max-width: 100%;
    height: auto;
    font-size: 1rem;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1200px;
    max-width: 100%;
    height: auto;
    font-size: 1rem;
  }
}






/*
  #skip-link {
    position: absolute;
    left: -9999px;
    padding: 1rem;
    z-index: 9999;
    opacity: 0;
    background: #000;
    color:#FFFFFF
  }

  #skip-link:focus {
    left:50px;
    transform: translateX(-50%);
    opacity: 1;
  }
*/